MONGO_URL=mongodb+srv://charan20:Charan12345@cluster0.xsdi5.mongodb.net/Talk2Campus?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=YOUR_SECRET_KEY_CHANGE_ME
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
GOOGLE_MAPS_API_KEY=AIzaSyD8Prknl8yHluOjwq7xVS7TkVBWPmA0XV8
OPENAI_API_KEY=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